@model List<ASP.NET_Practice.DataAccess.SingleEntityRepo.Models.User>
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All users</title>
</head>
<body>
    <p>
            @foreach (var user in Model)
            {
                <div class="item">
                    <span class="name">@user.FirstName</span>
                    <span class="email">@user.Email</span>
                    <span class="role">@user.Role.Name</span>
                </div>
            }
    </p>
    <button>
        @Html.ActionLink("Добавить", "Add", "Users")
    </button>
    <div name="footer">
        @Html.ActionLink("Назад", "Index", "Home")
    </div>
</body>
</html>
