@model ASP.NET_Practice.Models.PageInfo<ASP.NET_Practice.DataAccess.SingleEntityRepo.Models.User>
@{
    ViewBag.Title = "Пользователи";
    Layout = "../Shared/_Layout.cshtml";
    var searchString = (string)ViewBag.SearchString;
}



    @using (Html.BeginForm("GetAll", "Users", FormMethod.Post, new { @class = "form-inline", align = "right" }))
    {
        <div class="form-group mb-2">
            @Html.TextBox("searchString", searchString ?? "", new { @class = "input-medium search-query", placeholder = "Поиск...", type = "search" })
        </div>
        <button type="submit" class="btn btn-primary mb-2">Найти</button>
    }

<p class="h3">Пользователи</p>
    <div>
        <ul class="list-group">
            @foreach(var user in Model.ItemsOnPage)
            {
                <li class="list-group-item">
                    <span>@user.FirstName</span>
                    <span>@user.Email</span>
                    <span>@user.Role.Name</span>
                </li>
            }
        </ul>
    </div>
<div>
    @Html.GetPageLinks(Model.TotalPageNumber, Model.CurrentPageNumber, x => Url.Action("GetAll", new {page = x}))
</div>
<div class="btn-block">   
    @Html.ActionLink("Добавить", "Add", "Users", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Назад", "Index", "Home", null, new { @class = "btn btn-link" })
</div>  
