@model List<ASP.NET_Practice.DataAccess.SingleEntityRepo.Models.Role>
@{
    ViewBag.Title = "Роли";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        @foreach (var role in Model)
        {
            <div class="item">
                <span class="name">@role.Name</span>
                <span class="code">@role.Code</span>
            </div>
        }
    </div>
    <button>
        @Html.ActionLink("Добавить", "Add", "Roles")
    </button>
    <div name="footer">
        @Html.ActionLink("Назад", "Index", "Home")
    </div>
</body>
</html>
